{% extends 'base.html.twig' %}

{% block title %}Modifier l’Avis{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Modifier l’Avis</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary mt-2">{{ form.save.vars.label }}</button>
    {{ form_end(form) }}
    <a href="{{ path('avis_index') }}" class="btn btn-link mt-2">Retour aux avis</a>
</div>
{% endblock %}
