{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<div class="container profile">
  <div class="profile__container">
    <div class="profile__card">

      <h1 class="profile__title">
        Modifier mon profil
      </h1>

      {{ form_start(profilForm, { attr: { class: 'profile__form' } }) }}

        <div class="profile__section">
          {{ form_row(profilForm.firstname) }}
          {{ form_row(profilForm.lastname) }}
        </div>

        <div class="profile__section">
          {{ form_row(profilForm.phoneNumber) }}
        </div>

        <div class="profile__section">
          {{ form_row(profilForm.street) }}
          {{ form_row(profilForm.addressComplement) }}
        </div>

        <div class="profile__section profile__grid profile__grid--2">
          {{ form_row(profilForm.postalCode) }}
          {{ form_row(profilForm.city) }}
        </div>

        {% if profilForm.roles is defined %}
          <div class="profile__section">
            {{ form_row(profilForm.roles) }}
          </div>
        {% endif %}

        <button class="eco-btn eco-btn--primary profile__submit">
          Mettre à jour
        </button>

      {{ form_end(profilForm) }}

    </div>
  </div>
</div>
{% endblock %}
